[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mysql-connector-python = "*"

[dev-packages]
pydocstyle = "*"
pytest = "*"

[requires]
python_version = "3.12"
# Remove the comment below to specify the full Python version
# python_full_version = "3.12.7"
